// With Arguments

@mixin bottomLineAnim($size, $color, $time, $ease) {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 0%;
    border-bottom: $size solid $color;
    -webkit-transition: all $time, $ease;
    -moz-transition: all $time, $ease;
     transition: all $time, $ease;
    }
    &:hover:after {
      width: 100%;
    }
  }

@mixin hoverLink($color, $time, $ease){
  transition: all .25s linear;
  &:hover {
    color: red;
  }
}

@mixin shiftLink($direction, $leftDistance: 5px, $rightDistance: -5px) {
  $left:  $leftDistance;
  $right: $rightDistance;
  transition: all .25s linear;
  display: inline-block;
    &:hover {
      @if $direction == 'left'{
       transform: translateX($left);
      }
      @if $direction == 'right'{
       transform: translateX($right);
      }
    }
}


@mixin bracketfx($l-char: "[", $r-char: "]" ) {
  &:before, &:after {
    opacity: 0; // change this to 0
    display: inline-block;
    transition: transform .15s, opacity, .30s;
  }
  &:before {
   margin-right: 5px;
   content: $l-char;
  }
  &:after {
   margin-left: 5px;
   content: $r-char;
  }
  &:hover:before {
    opacity: 1;
    transform: translateX(-10px);
  }
  &:hover:after {
    opacity: 1;
    transform: translateX(10px);
  }
}

@mixin blineAnim($color: #ccc, $thickness: 2px) {
  position: relative;
  text-decoration: none;
    &:after {
      content: "";
      position: absolute;
      border-bottom: $thickness solid $color;
      width: 100%;
      bottom: -5px;
      left: 0;
      opacity: 0;
      transition: all .25s;
    }
     &:hover:after {
      width: 100%;
      opacity: 1;
      bottom: -1px;
    }
}

@mixin blineAnim-2($color: #ccc, $thickness: 2px) {
  position: relative;
  text-decoration: none;
    &:after {
      content: "";
      position: absolute;
      border-bottom: $thickness solid $color;
      width: 100%;
      bottom: -5px;
      left: 0;
      opacity: 0;
      transition: all .25s;
      transform: scale(0);
    }
     &:hover:after {
      width: 100%;
      opacity: 1;
      bottom: -1px;
      transform: scale(1);
    }
}

@mixin linesAnim($color: #ccc, $thickness: 2px) {
  position: relative;
  text-decoration: none;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    transition: all .35s;
    left: 0;
  }
  &:before {
    border-bottom: $thickness solid $color;
    top: 100%;
    opacity: 0;
  }
  &:after {
    border-bottom: $thickness solid $color;
    bottom: -5px;
    transition: all .25s;
    transform: scale(0.85);
  }
   &:hover:after {
    width: 100%;
    opacity: 1;
    transform: scale(1);
  }
  &:hover:before {
    width: 100%;
    opacity: 1;
    top: 1px;
  }
}
